/* Custom CSS */
body {
  background-image: linear-gradient(180deg, var(--bs-secondary-bg), var(--bs-body-bg) 100px, var(--bs-body-bg));
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card-description {
  text-decoration: none;
  color: inherit; /* Use the default text color */
}

/* Change the cursor to indicate it's a link */
.card-description:hover {
  cursor: pointer;
}

/* Add this CSS to your stylesheet or within a <style> tag in your HTML */
.card {
  height: 350px; /* Adjust the height to your desired fixed size */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure card body takes full height of the card */
}

.card-link {
  text-decoration: none;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center; /* Center the title */
}

.d-flex {
  justify-content: space-between; /* Justify the content */
  align-items: center; /* Center vertically within the button row */
}

.card-text {
  flex-grow: 1; /* Allow the paragraph to grow within the available space */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
