/* Disable a specific stylelint rule for the following block */
/* stylelint-disable stylistic/selector-list-comma-newline-after */

/* Styling for the blog header logo */
.blog-header-logo {
  font-family: "Amiri", Georgia, "Times New Roman", serif; /* Define font-family */
  font-size: 2.25rem; /* Set font size */
}

/* Styling for the blog header logo on hover */
.blog-header-logo:hover {
  text-decoration: none; /* Remove text underline on hover */
}

/* Styling for the header catcher */
#header-catcher {
  background-color: #9b1a1a31; /* Set background color with alpha transparency */
  background-size: cover; /* Cover the background */
  text-align: center; /* Align text to center */
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align content vertically */
}

/* Styling for the body */
body {
  padding-bottom: 3rem; /* Add padding at the bottom */
  color: rgb(var(--bs-tertiary-color-rgb)); /* Set text color */
}

/* Styling for the carousel */
.carousel {
  margin-bottom: rem; /* Add margin at the bottom */
}

/* Styling for the carousel caption */
.carousel-caption {
  display: flex; /* Display as flex */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align content horizontally */
  height: 50%; /* Set caption height */
}

/* Styling for each carousel item */
.carousel-item {
  height: 20rem; /* Set height for carousel items */
}

/* Styling for marketing content columns */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem; /* Add margin at the bottom */
  text-align: center; /* Align text to center */
}

/* Styling for p elements within marketing content columns */
.marketing .col-lg-4 p {
  margin-right: 0.75rem; /* Add margin to the right */
  margin-left: 0.75rem; /* Add margin to the left */
}

/* Styling for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif; /* Set font-family */
}

/* Styling for the navigation header */
#navigation-header {
  color: aliceblue; /* Set text color */
  font-size: 30px; /* Set font size */
  position: center; /* Set position */
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align content vertically */
}

/* Styling for the overlay element within carousel items */
.carousel-inner .carousel-item .overlay {
  position: absolute; /* Set position to absolute */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  width: 100%; /* Set width to 100% */
  height: 100%; /* Set height to 100% */
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Set initial background color with alpha transparency */
  transition: background-color 0.3s ease-in-out; /* Add transition effect */
}

/* Styling for the overlay on hover */
.carousel-inner .carousel-item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Set background color on hover */
}

/* Additional styles for the caption on hover */
.carousel-inner .carousel-item:hover .carousel-caption {
  opacity: 1; /* Set opacity on hover */
  /* Add other styles as needed */
}

/* Styling for flex-auto class */
.flex-auto {
  flex: 0 0 auto; /* Set flex properties */
}

/* Styling for h-250 class */
.h-250 {
  height: 250px; /* Set height */
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px; /* Set height for medium screens */
  }
}

/* Styling for blog pagination */
.blog-pagination {
  margin-bottom: 4rem; /* Add margin at the bottom */
}

/* Styling for blog posts */
.blog-post {
  margin-bottom: 4rem; /* Add margin at the bottom */
}

/* Styling for blog post metadata */
.blog-post-meta {
  margin-bottom: 1.25rem; /* Add margin at the bottom */
  color: #727272; /* Set text color */
}

/* Styling for the navbar brand */
#navbar-brand {
  position: center; /* Set position */
}

/* Styling for bottom credits */
#bottom-cr {
  opacity: 0.5; /* Set opacity */
}
