/* Set font family and overall layout for the body */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-start; /* Align to the left side */
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* Style for the quiz container */
.quiz-container {
  max-width: 400px; /* Adjust container width as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

/* Style for the question text */
.question {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for the answers section */
.answers {
  margin-bottom: 20px;
}

/* Basic button style */
.btn {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button hover effect */
.btn:hover {
  background-color: #e0e0e0;
}

/* Correct answer button style */
.btn-correct {
  background-color: #8bc34a;
  color: white;
}

/* Wrong answer button style */
.btn-wrong {
  background-color: #f44336;
  color: white;
}

/* Selected answer button style */
.btn-selected {
  background-color: #2196f3;
  color: white;
}

/* Style for the navigation header */
#navigation-header {
  color: aliceblue;
  font-size: 30px;
  position: center;
  justify-content: center;
  align-items: center;
}

/* Style for the header catcher */
#header-catcher {
  background-color: #9b1a1a31;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Style for the navbar brand */
#navbar-brand {
  position: center;
}
